<div class="dashboard-user row">
    <div class="display-flex-baseline mt-4 mb-4">
      <div class="avar-name">
        <span class="avar-img mr-10"><img src="https://cdn1.iconfinder.com/data/icons/web-55/32/web_3-1024.png" width="65"/></span>
        <div class="">
          <div class="username">
            <%= user.name %>
            
          </div>
          <div><%= user.email %></div>
        </div>
      </div>
      <a href="/doctor/information" class="btn btn-primary">information</a>
      <a href="/doctor/logout" class="btn btn-light">Logout</a>
    </div>
    <div class="row">
      <h5 class="dashboard-common-title">My Appointments</h5>
      <div class="container bg-white mt-2">
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Doctor Name</th>
                <th scope="col">Doctor Contact</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Email</th>
                <th scope="col">State</th>
                <th scope="col">Operation</th>
              </tr>
            </thead>
            <tbody  id="appointments">
            </tbody>
          </table>
        </div>
      </div>
   </div>
</div>
</div>
<script src="/js/doctorClient.js"></script>