<div class="dashboard-user row">
    <div class="display-flex-baseline mt-4 mb-4">
      <div class="avar-name">
        <span class="avar-img mr-10"><img src="https://cdn1.iconfinder.com/data/icons/web-55/32/web_3-1024.png" width="65"/></span>
        <div class="">
          <div class="username">
            <%= user.name %>
            
          </div>
          <div><%= user.email %></div>
        </div>
      </div>
      <a href="/doctor/information" class="btn btn-primary">information</a>
      <a href="/doctor/logout" class="btn btn-light">Logout</a>
    </div>
  </div>