  <head>
      <style>
          #doctorPara{
                color: rgb(4, 131, 181);
                font-size: larger;
                font-weight: bold;
            }
            b{
                color: black;
            }
            #timePara{
                color: rgb(4, 167, 4);
                font-size: larger;
            }
            #specPara{
                color: rgb(37, 124, 255);
                font-size: larger;
            }
            #descrip{
                font-size: larger;
            }
            #btnContact{
                background-color: rgb(88, 233, 39);
                border: none;
                outline: none;
            }
           
      </style>
  </head>
  <div class="row" style="background-color: rgb(54, 168, 255);color: white;"><h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3" style="float: right;"><i class="fas fa-user-alt"></i> :<span style="color: white;font-weight: bold;"> <%= user.name %></span></p>

</div>
<a href="/users/logout" class="btn btn-primary" style="float: right;">Logout</a><br>




<br>


<script>


    function searchDoctors(){

        var selectFrom = document.getElementById('appointFrom');
        var selectTo = document.getElementById('appointTo');
        var valueFrom = selectFrom.options[selectFrom.selectedIndex].value;
        var valueTo = selectTo.options[selectTo.selectedIndex].value;

        var docList=document.getElementById("doctorList");
var row;var column1;var column2;
        
        

        var nameList=[];
        var doctors=[];
        var image,description,speciality,availableTime,endTime;
        var contactBtn,bookNowBtn;
        var contactDetail;

        console.log(valueFrom+"   ::::   "+valueTo);
        
        fetch("/doctor/getByTime/"+valueFrom+"/"+valueTo+"").then(res=>res.json()).then((out)=>{
          //http://host.docker.internal:3000     
        


            nameList=[];
            nameList.innerHTML="";
            doctors=[];docList.innerHTML="";
            console.log('OutPut: ',out);
            // alert(JSON.stringify(out));
            doctors=out;
            for(var i=0;i<doctors.length;i++){

                row=document.createElement("div");
        
        column1=document.createElement("div");
        
    column2=document.createElement("div");

                row.setAttribute('class','row shadow p-3 mb-5 bg-white rounded');

                column1.setAttribute('class','col-sm-4');
                column2.setAttribute('class','col-sm-8');
                
                row.appendChild(column1);
                row.appendChild(column2);
                docList.appendChild(row);

                image=document.createElement("img");
                

                image.src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg";image.style.width='100%';//image.style.height='30%';
                column1.appendChild(image);
                
                nameList=document.createElement("p");
                nameList.setAttribute('id','doctorPara');
                nameList.setAttribute('class','shadow p-3 mb-5 bg-white rounded');
                nameList.innerHTML= "<span style='color:black;font-weight:lighter'>Dr. </span><u>"+doctors[i].name+"</u>";
                column1.appendChild(nameList);

                

                date1 = new Date(doctors[i].startTime);
                var startTime = new Date(date1).toLocaleTimeString('en',
                 { timeStyle: 'short', hour12: false, timeZone: 'UTC' });

                 date2 = new Date(doctors[i].endTime);
                 var endTime = new Date(date2).toLocaleTimeString('en',
                 { timeStyle: 'short', hour12: false, timeZone: 'UTC' });
                

                
                console.log(date2.getFullYear()+'-' + (date2.getMonth()+1) + '-'+date2.getDate()+' - at '+startTime+' TO '+endTime)

                availableTime=document.createElement("p");
                availableTime.setAttribute('id','timePara');
                availableTime.innerHTML="<b>Available From</b> : "+startTime+" To "+endTime;



                description=document.createElement("p");
                description.setAttribute('id','descrip');

                description.innerHTML="<b>Description</b> : "+doctors[i].description;


                speciality=document.createElement("p");
                speciality.setAttribute('id','specPara');

                speciality.innerHTML="<b>Speciality</b> : "+doctors[i].speciality;

                contactBtn=document.createElement("button");
                contactBtn.setAttribute('class','btn btn-primary col-sm-4');
                
                contactBtn.setAttribute('data-bs-toggle','modal');
                contactBtn.setAttribute('data-bs-target','#exampleModal2');

                contactBtn.setAttribute('value','Email : '+doctors[i].email+' | Phone: '+doctors[i].phone);
                contactBtn.setAttribute('onclick','onContact(this)');

                contactBtn.setAttribute('id','btnContact');
                contactBtn.innerHTML="Contact";


                bookNowBtn=document.createElement("button");
                bookNowBtn.setAttribute('type','button');
                bookNowBtn.setAttribute('class','btn btn-primary col-sm-4');
                bookNowBtn.setAttribute('data-bs-toggle','modal');
                bookNowBtn.setAttribute('data-bs-target','#exampleModal');

                bookNowBtn.innerHTML="Book Now";
                
                spanSpace=document.createElement('span');
                spanSpace.innerHTML="&emsp;&emsp;";

                column2.appendChild(availableTime);
                column2.appendChild(description);
                column2.appendChild(speciality);
                column2.appendChild(contactBtn);
                column2.appendChild(spanSpace);
                column2.appendChild(bookNowBtn);

                

                
              
                
                // docList.appendChild(nameList);
                
            
            }
        })


    }
    

    function onContact(ele){

        emailPhone=document.createElement('p');
        
        emailPhone.innerHTML=ele.value;
        contactDetail=document.getElementById('emailNumber');
        contactDetail.innerHTML='';
        contactDetail.appendChild(emailPhone);
        
    }

</script>


<form class="form-inline" action="#">
    <label class="col-sm-4">
        Appointment From
        <select class="form-control" id="appointFrom">
            <option value="09:00-AM">09:00-AM</option><option value="09:30-AM">09:30-AM</option>
            <option value="10:00-AM">10:00-AM</option><option value="10:30-AM">10:30-AM</option>
            <option value="11:00-AM">11:00-AM</option><option value="11:30-AM">11:30-AM</option>
            <option value="12:00-PM">12:00-PM</option><option value="12:30-PM">12:30-PM</option>
            <option value="01:00-PM">01:00-PM</option><option value="01:30-PM">01:30-PM</option>
            <option value="02:00-PM">02:00-PM</option><option value="02:30-PM">02:30-PM</option>
            <option value="03:00-PM">03:00-PM</option><option value="03:30-PM">03:30-PM</option>
        
            <option value="04:00-PM">04:00-PM</option><option value="04:30-PM">04:30-PM</option>
            <option value="05:00-PM">05:00-PM</option><option value="05:30-PM">05:30-PM</option>
            <option value="06:00-PM">06:00-PM</option><option value="06:30-PM">06:30-PM</option>
            <option value="07:00-PM">07:00-PM</option><option value="07:30-PM">07:30-PM</option>
            <option value="08:00-PM">08:00-PM</option><option value="08:30-PM">08:30-PM</option>
            
        </select>
    </label>
    <label class="col-sm-4">
      Appointment To
        <select class="form-control" id="appointTo">
            <option value="09:30-AM">09:30-AM</option><option value="10:00-AM">10:00-AM</option>
            <option value="10:30-AM">10:30-AM</option><option value="11:00-AM">11:00-AM</option>
            <option value="11:30-AM">11:30-AM</option><option value="12:00-PM">12:00-PM</option>
            <option value="12:30-PM">12:30-PM</option><option value="01:00-PM">01:00-PM</option>
            <option value="01:30-PM">01:30-PM</option><option value="02:00-PM">02:00-PM</option>
            <option value="02:30-PM">02:30-PM</option><option value="03:00-PM">03:00-PM</option>
            <option value="03:30-PM">03:30-PM</option><option value="04:00-PM">04:00-PM</option>
        
            <option value="04:30-PM">04:30-PM</option><option value="05:00-PM">05:00-PM</option>
            <option value="05:30-PM">05:30-PM</option><option value="06:00-PM">06:00-PM</option>
            <option value="06:30-PM">06:30-PM</option><option value="07:00-PM">07:00-PM</option>
            <option value="07:30-PM">07:30-PM</option><option value="08:00-PM">08:00-PM</option>
            <option value="08:30-PM">08:30-PM</option><option value="09:00-PM">09:00-PM</option>
            
        </select>
    </label>
    <!-- <br> -->
    <button class="btn btn-danger" onclick="searchDoctors()" style="background-color: rgb(0, 123, 255);outline: none;border: none;">SEARCH</button>
  </form>
<br>
  <div class="row">
      <div class="col-sm-10" id="doctorList">
          <!-- <p style="font-size: 40px;">Doctor</p> -->
          
          <p>Detail</p>
      </div>
  </div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Contact Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="emailNumber">
          
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>




  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Great</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Appointment Booked Succesfully
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>



<%- include ("./partials/messages"); %>