<div class="dashboard-user row primary-color-background">
  <h2 class="mt-2">Dashboard</h2>
  <div class="display-flex mt-2">
    <p class="avar-name">
      <span class="avar-img"><i class="fas fa-user-alt"></i></span>
      <span class="username">
        <%= user.name %>
      </span>
    </p>
    <a href="/users/logout" class="btn btn-primary">Logout</a>
  </div>
</div>
<br>
<div class="form-inline" action="#">
  <label class="col-sm-4">
    Appointment From
    <select class="form-control" id="appointFrom">
      <option value="09:00-AM">09:00-AM</option>
      <option value="09:30-AM">09:30-AM</option>
      <option value="10:00-AM">10:00-AM</option>
      <option value="10:30-AM">10:30-AM</option>
      <option value="11:00-AM">11:00-AM</option>
      <option value="11:30-AM">11:30-AM</option>
      <option value="12:00-PM">12:00-PM</option>
      <option value="12:30-PM">12:30-PM</option>
      <option value="01:00-PM">01:00-PM</option>
      <option value="01:30-PM">01:30-PM</option>
      <option value="02:00-PM">02:00-PM</option>
      <option value="02:30-PM">02:30-PM</option>
      <option value="03:00-PM">03:00-PM</option>
      <option value="03:30-PM">03:30-PM</option>

      <option value="04:00-PM">04:00-PM</option>
      <option value="04:30-PM">04:30-PM</option>
      <option value="05:00-PM">05:00-PM</option>
      <option value="05:30-PM">05:30-PM</option>
      <option value="06:00-PM">06:00-PM</option>
      <option value="06:30-PM">06:30-PM</option>
      <option value="07:00-PM">07:00-PM</option>
      <option value="07:30-PM">07:30-PM</option>
      <option value="08:00-PM">08:00-PM</option>
      <option value="08:30-PM">08:30-PM</option>

    </select>
  </label>
  <label class="col-sm-4">
    Appointment To
    <select class="form-control" id="appointTo">
      <option value="09:30-AM">09:30-AM</option>
      <option value="10:00-AM">10:00-AM</option>
      <option value="10:30-AM">10:30-AM</option>
      <option value="11:00-AM">11:00-AM</option>
      <option value="11:30-AM">11:30-AM</option>
      <option value="12:00-PM">12:00-PM</option>
      <option value="12:30-PM">12:30-PM</option>
      <option value="01:00-PM">01:00-PM</option>
      <option value="01:30-PM">01:30-PM</option>
      <option value="02:00-PM">02:00-PM</option>
      <option value="02:30-PM">02:30-PM</option>
      <option value="03:00-PM">03:00-PM</option>
      <option value="03:30-PM">03:30-PM</option>
      <option value="04:00-PM">04:00-PM</option>

      <option value="04:30-PM">04:30-PM</option>
      <option value="05:00-PM">05:00-PM</option>
      <option value="05:30-PM">05:30-PM</option>
      <option value="06:00-PM">06:00-PM</option>
      <option value="06:30-PM">06:30-PM</option>
      <option value="07:00-PM">07:00-PM</option>
      <option value="07:30-PM">07:30-PM</option>
      <option value="08:00-PM">08:00-PM</option>
      <option value="08:30-PM">08:30-PM</option>
      <option value="09:00-PM">09:00-PM</option>

    </select>
  </label>
  <!-- <br> -->
  <button class="btn btn-danger" onclick="searchDoctors()"
    style="background-color: rgb(0, 123, 255);outline: none;border: none;">SEARCH</button>
</div>
<br>
<div class="container">
  <div class="row" id="doctorList">
    <!-- <p style="font-size: 40px;">Doctor</p> -->
    <p>Detail</p>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Contact Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="emailNumber">

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Great</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Appointment Booked Succesfully
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>



<%- include ("./partials/messages"); %>

  <script>


    function searchDoctors() {

      var selectFrom = document.getElementById('appointFrom');
      var selectTo = document.getElementById('appointTo');
      var valueFrom = selectFrom.options[selectFrom.selectedIndex].value;
      var valueTo = selectTo.options[selectTo.selectedIndex].value;

      var docList = document.getElementById("doctorList");
      var row; var column1; var column2;

      var nameList = [];
      var doctors = [];
      var image, description, speciality, availableTime, endTime;
      var contactBtn, bookNowBtn;
      var contactDetail;

      console.log(valueFrom + "   ::::   " + valueTo);

      fetch("/doctor/getByTime/" + valueFrom + "/" + valueTo + "").then(res => res.json()).then((out) => {
        //http://host.docker.internal:3000     

        nameList = [];
        nameList.innerHTML = "";
        doctors = []; docList.innerHTML = "";
        console.log('OutPut: ', out);
        // alert(JSON.stringify(out));
        doctors = out;

        for (var i = 0; i < doctors.length; i++) {

          date1 = new Date(doctors[i].startTime);
          var startTime = new Date(date1).toLocaleTimeString('en',
            { timeStyle: 'short', hour12: false, timeZone: 'UTC' });

          date2 = new Date(doctors[i].endTime);
          var endTime = new Date(date2).toLocaleTimeString('en',
            { timeStyle: 'short', hour12: false, timeZone: 'UTC' });

          let template = `<div class="card col-xs-12 col-md-3 mb-3">
            <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=338&ext=jpg" class="card-img-top" alt="${doctors[i].name}">
            <div class="card-body">
              <h5 class="card-title">Dr.
              </span><u>${doctors[i].name}</u></h5>
              <div id="timePara">
                <div class="fs-14"><b>Available </b>:${startTime}- ${endTime}</div>
              </div>
              <p class="card-text fs-14"  id="descrip">${doctors[i].description}</p>
              <p id="specPara">
                <p class="fs-14"><b>Speciality</b> : ${doctors[i].speciality}</p>
                </p>
                <button class="btn btn-primary  mr-10" data-bs-toggle="modal" data-bs-target="#exampleModal2"
                value="Email : ${doctors[i].email} | Phone: ${doctors[i].phone}" onclick="onContact(this)"
                id="btnContact">Contact</button>
                <button type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Book Now</button>
            </div>
          </div>`
          $('#doctorList').append(template);
        }
      })
    }


    function onContact(ele) {

      emailPhone = document.createElement('p');

      emailPhone.innerHTML = ele.value;
      contactDetail = document.getElementById('emailNumber');
      contactDetail.innerHTML = '';
      contactDetail.appendChild(emailPhone);

    }

  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet">